::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#container {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#background_video {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	object-fit: cover;
	height: 100%;
	width: 100%;
}

#video_cover {
	position: absolute;

	width: 100%;
	height: 100%;

	background: url('../../packages/video_cover.jpeg') no-repeat;
	background-size: cover;
	background-position: center;
}

#video_controls {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

@media (min-width: 768px) {
	#video_controls {
		display: none;
	}
}

/* Demo page specific styles */

body {
	/* text-align: center; */
	font-family: 'proxima-nova', Helvetica;
}

#container {
	height: 100%;
}

#overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
}

#main_content {
	z-index: 2;
	position: relative;
	height: 90%;
	width: 100%;
	/* float:left; */
}

#main_content_left {
	text-align: center;
	width: 35%;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	overflow-y: scroll;
	height: 90%;
	/* left:0; */
	/* float:left; */
	border-radius: 15px;
}

#main_content_left pre {
	color: #fff;
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	overflow-y: auto;
	display: block;
}

#main_content_left h1 {
	color: #fff;
}

#main_content_right {
	width: 60%;
	position: absolute;
	overflow-x: scroll;
	height: 90%;
	right: 20px;
	margin-top: 20px;
}

#main_content_right_top {
	position: absolute;
	width: 100%;
	height: 48%;
	/* background-color: aqua; */
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.2);
}

#main_content_right_bottom {
	position: absolute;
	width: 100%;
	height: 48%;
	/* background-color: blueviolet; */
	bottom: 0;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.2);
}

img {
	margin-top: 20px;
	margin-left: 40px;
	height: 84%;
}

.layui-tab-card {
	border-width: 1px;
	/* border-style: solid; */
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.layui-tab {
	/* margin: 10px 0; */
	text-align: left !important;
}
.layui-tab-card > .layui-tab-title {
	background-color: rgba(255, 255, 255, 0.6);
}
.layui-tab-title {
	position: relative;
	left: 0;
	height: 40px;
	white-space: nowrap;
	font-size: 0;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	border-radius: 15px;
}
ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.layui-tab-title {
	border-color: rgba(255, 255, 255, 0);
}
/* .layui-tab-card>.layui-tab-title .layui-this {
  background-color: #fff;
} */
.layui-tab-card > .layui-tab-title li {
	margin-right: -1px;
	margin-left: -1px;
}
.layui-tab-title .layui-this {
	color: #000;
}

.layui-tab-title li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	font-size: 14px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	position: relative;
	line-height: 40px;
	min-width: 65px;
	padding: 0 160px;
	text-align: center;
	cursor: pointer;
	border-radius: 15px;
}
/* 这里的含义是 li 并且 有 active class 的那个一个 try */
.layui-tab-title .active {
	background: rgba(255, 255, 255, 0.6);
}
li,
ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	list-style-type: none;
}
.layui-tab-title {
	position: relative;
	left: 0;
	height: 40px;
	white-space: nowrap;
	font-size: 0;
	border-bottom-width: 0px;
	/* border-bottom-style: solid; */
	/* transition: all .2s; */
	/* -webkit-transition: all .2s; */
	border-radius: 15px;
}
.layui-tab-card > .layui-tab-title .layui-this:after {
	border-top: none;
	border-width: 0px;
	border-bottom-color: #fff;
}

.content{
	color: #fff;
	font-size: 24px;
	margin-top:15px;
	margin-bottom: 10px;
}

.item {
	padding: 10px 10px 15px 20px;
	border: 1px solid #fff;
	position: relative;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
}

/* 2n 为每隔一行样式不同 */
.item:nth-of-type(2n) {
	background-color: rgba(240,240,240,0.6);
	border-radius: 3px;
}
