* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: Arial,
    Helvetica,
    sans-serif;
}

#container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background_video {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%;
  width: 100%;
}

#video_cover {
  position: absolute;

  width: 100%;
  height: 100%;

  background: url('../../packages/video_cover.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

#video_controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 768px) {
  #video_controls {
    display: none;
  }
}

/* Demo page specific styles */

body {
  /* text-align: center; */
  font-family: 'proxima-nova', Helvetica;
}

#container {
  height: 100%;
  /* position:relative; */
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}

#top {
  z-index: 2;
  width: 100%;
  height: 18%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

input {
  border: 0;
  /* height: 80%; */
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  width: calc(100% - 35px);
  font-size: 1.4rem;
  color: #fff;
  transition: all 0.5s ease-in;
  outline: 0;

}


.search-section .filter-form .btn-search svg {
  width: 20px;
}

.filter-form {
  border: 2px solid #fff;
  border-radius: 27.5px;
  opacity: 0.9;
  height: 37px;
  line-height: 37px;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  margin: 10px;
  max-width: 350px;
  padding-left: 20px;
  font-size: 1.4rem;
  color: #fff;
  transition: all 0.5s ease-in;
  text-align: left;
  width: 70%;
  right: 0;
  /* position: relative; */
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

#title {
  z-index: 2;
  width: 87%;
  height: 8%;
  background-color: white;
  position: relative;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* border-radius: 10px; */
}

#title p1 {
  display: block;
  padding-top: 10px;
  margin-left: 18px;
  margin-right: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}

#title p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

#main {
  z-index: 2;
  width: 87%;
  height: 408px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  margin: 0 auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.item {
  padding: 10px 10px 25px 18px;
  border: 1px solid #fff;
  position: relative;
  cursor: pointer;
}

/* 2n 为每隔一行样式不同 */
.item:nth-of-type(2n) {
  background: rgba(241, 241, 241);
}

.titleName,
.name {
  position: absolute;
  /* left:50px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 500px;
}

.titleSinger,
.singer {
  position: absolute;
  width: 200px;
  left: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.titleAlbum,
.album {
  position: absolute;
  left: 700px;
  width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.titleTime,
.time {
  position: absolute;
  left: 1060px;
  width: 20;
}

.name,.singer,.album,.time{
  pointer-events: none;
}